body {
    margin: 5px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.form-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
}

#buscarProducto {
    margin-bottom: 20px;
}
